*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #2d2735;
}

a
{
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover
{
    color: antiquewhite;
}

#header
{
    /*position: fixed;*/
    width: 100%;
    height: 180px;
    background-image: url(https://avatanplus.com/files/resources/original/58b84fb95992315a8ff76c17.png);
    background-position: top;
    background-size: auto;
    pointer-events: none;
}

#main
{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    margin-bottom: 100px;
}

#photos
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo
{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.txt
{
    color: firebrick;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pava
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

#photo_pava
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#pavatxt
{
    display: inline;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 120px;
    line-height: 0.8;
    text-align: center;
}

.photo_pava
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border-style: solid;
    border-color: white;
    border-width: 0px;
}

.photo_pava:hover
{
    border-width: 0.5px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    cursor: help;
}

#christmas_music_div
{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#christmas_music
{
    text-align: center;
    font-size: 90px;
}

.snowflake
{
    position: fixed;
    color: white;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}