@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url('../photo/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #123d54;
}

a
{
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover
{
    color: antiquewhite;
}

#header
{
    position: absolute;
    width: 100%;
    height: 180px;
    background-image: url(https://avatanplus.com/files/resources/original/58b84fb95992315a8ff76c17.png);
    background-position: top;
    background-size: auto;
    pointer-events: none;
    z-index: -1;
}

#main
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    margin-bottom: 3vh;
}

#photos
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.photo
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 1.5vw;
    transition: all 0.2s ease-in-out;
}

.photo:hover
{
    border-radius: 2vw;
    transform: translateY(-5%);
}

.txt
{
    color: #8a6be8;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Caveat", cursive;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;  
}

.txt_links
{
    color: #fec350;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-variant: small-caps;
    font-style: oblique;
    text-shadow: 4px 3px 2px rgba(0,0,0,0.5);
}

#Happy_birthday
{
    display: flex;
    justify-content: center;
    margin: 6vw 5vw 6vw 5vw;
    gap: 3vw;
}

#andriy_div
{
    position: relative;
    display: inline-block;
}

#andriy_div::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../photo/frame.png') no-repeat center/cover;
    pointer-events: none;
    z-index: 10;
}

#wish
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #e0e7fa;
    text-shadow: 4px 3px 2px rgba(0,0,0,0.5);
    font-variant: small-caps;
    font-style: oblique;
}
#wish a
{
    color: #fec350;
    font-size: 2.9vw;
    font-variant: normal;
    font-style: normal;
}

#wish a:hover
{
    color: antiquewhite;
}

#andriy
{
    width: 45vw;
    height: 50vw;
    display: block;
}

#pava
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

#photo_pava
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

#pavatxt
{
    display: inline;
    margin: 0 auto;
    margin-bottom: 2vh;
    font-size: 10vw;
    line-height: 0.8;
    text-align: center;
    z-index: 1;
}

.photo_pava
{
    transition: all 0.2s ease-in-out;
    width: 25vw;
    height: 25vw;
    border-radius: 2vw;
}

.photo_pava:hover
{
    transform: translateY(-5vh);
    border-radius: 3vw;
}

#christmas_music_div
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#first_letter
{
    position: relative;
    display: inline-block;
}

#hat
{
    position: absolute;
    top: -0.11em;
    left: -0.09em;
    width: 1.5em;
    pointer-events: none;
}

#christmas_music
{
    text-align: center;
    font-size: 90px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.snowflake
{
    top: -2vh;
    position: fixed;
    color: #a49e92;
    user-select: none;
    pointer-events: none;
    z-index: -9999;
    animation: fall linear infinite;
}

@keyframes fall
{
    to
    {
        transform: translateY(100vh);
    }
}

@media(max-width: 700px)
{
    #photos
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .txt
    {
        font-size: 5vw;
    }
    #christmas_music
    {
        font-size: 45px;
    }
    .photo
    {
        height: 35vw;
        width: 35vw;
    }
    .photo:hover
    {
        border-radius: 2.5vw;
    }
    #hat
    {
        top: -0.12em;
        left: -0.21em;
        width: 1.6em;
    }
    .snowflake
    {
        font-size: 0.5em;
    }
    .photo_pava
    {
        width: 30vw;
        height: 30vw;
        border-radius: 3vw;
    }
    .photo_pava:hover
    {
        transform: translateY(-2vh);
    }
    #header
    {
        position: static;
        background-size: cover;
        height: 18vw;
    }
    #christmas_music_div
    {
        margin-bottom: 0;
    }
}