*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #2d2735;
}

#main
{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

#photos
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo
{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.txt
{
    color: firebrick;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pava
{
    padding-top: 150px;
    padding-bottom: 100px;
    display: grid;
    text-align: center;
    justify-content: center;
}

#pavatxt
{
    font-size: 150px;
    padding-bottom: 20px;
    text-align: center;
    
}

.photo_pava
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border-style: solid;
    border-color: white;
    border-width: 0px;
}

.photo_pava:hover
{
    border-width: 0.5px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    cursor: help;
}

#christmas_music_div
{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#christmas_music
{
    text-align: center;
    font-size: 50px;
}